name: Nightly Releases

on:
  push:
    branches: [ dev, ci/** ]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: flucoma/actions/env@v4        
      - uses: flucoma/actions/docs@v4
        with:
          target: MAKE_CLI_REF

      - uses: actions/upload-artifact@v2
        with:
          name: docs
          path: build/cli_ref

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: flucoma/actions/env@v4      
    - uses: flucoma/actions/cli@v4

    - uses: actions/upload-artifact@v2
      with:
        name: winbuild
        path: release-packaging
  
  macos:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4      
      - uses: flucoma/actions/cli@v4

      - uses: actions/upload-artifact@v2
        with:
          name: macbuild
          path: release-packaging
      
  linux:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4
      - uses: flucoma/actions/cli@v4

      - uses: actions/upload-artifact@v2
        with:
          name: linuxbuild
          path: release-packaging
  
  release:
    runs-on: ubuntu-latest
    needs: [windows, linux, macos, docs]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: docs
          path: docs
      
      #### LINUX ####
      - uses: actions/download-artifact@v2
        with:
          name: linuxbuild
          path: linux

      - name: copy docs to linux
        run: cp -r docs linux/FluidCorpusManipulation

      - name: compress linux
        run: zip -r ../FluCoMa-CLI-Linux-nightly.zip .
        working-directory: linux

      #### MAC ####
      - uses: actions/download-artifact@v2
        with:
          name: macbuild
          path: mac

      - name: copy docs to mac
        run: cp -r docs mac/FluidCorpusManipulation

      - name: compress mac
        run: zip -r ../FluCoMa-CLI-Mac-nightly.zip .
        working-directory: mac

      #### WINDOWS ####
      - uses: actions/download-artifact@v2
        with:
          name: winbuild
          path: win

      - name: copy docs to windows
        run: cp -r docs win/FluidCorpusManipulation

      - name: compress windows
        run: zip -r ../FluCoMa-CLI-Windows-nightly.zip .
        working-directory: win
  
      - uses: dev-drprasad/delete-tag-and-release@v0.2.0
        with:
          delete_release: true # default: false
          tag_name: nightly # tag name to delete
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: FluCoMa CLI Nightly Release
          body: "This is a nightly build of the FluCoMa CLI tools. As such, be warned there may be bugs or other unexpected behaviour. The build hash is ${{ github.sha }}"
          file: FluCoMa-CLI-*.zip
          prerelease: true
          tag_name: nightly
          draft: false


        
