name: Release
on:
  workflow_dispatch:
  
jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v5
      - uses: flucoma/actions/cli@v5
        with:
          branch: origin/main
          
      - name: compress archive
        run: 7z a FluCoMa-CLI-Windows-nightly.zip FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v2
        with:
          name: winbuild
          path: release-packaging/FluCoMa-CLI-Windows-nightly.zip

  mac:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v5
      - uses: flucoma/actions/cli@v5
        with:
          branch: origin/main 

      - name: compress archive
        run: zip -r FluCoMa-CLI-Mac-nightly.zip FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v2
        with:
          name: macbuild
          path: release-packaging/FluCoMa-CLI-Mac-nightly.zip
  
  linux:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v5
      - uses: flucoma/actions/cli@v5    
        with:
          branch: origin/main

      - name: compress archive
        run: tar -zcvf FluCoMa-CLI-Linux-nightly.tar.gz FluidCorpusManipulation
        working-directory: release-packaging 
        
      - uses: actions/upload-artifact@v2
        with:
          name: linuxbuild
          path: release-packaging/FluCoMa-CLI-Linux-nightly.tar.gz
          
      - run: ls

      - id: get-version
        run: echo "::set-output name=version::$(cat flucoma.version.rc)"
        working-directory: "${GITHUB_WORKSPACE}/builds/_deps/flucoma-core-src

  release:
    runs-on: ubuntu-latest
    needs: [mac, windows, linux]

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: linuxbuild

      - uses: actions/download-artifact@v2
        with:
          name: macbuild

      - uses: actions/download-artifact@v2
        with:
          name: winbuild
      
      #### UPLOAD RELEASE ####
      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.linux.outputs.version }}
          body: "This is a release build of the FluCoMa CLI tools. The build hash is ${{ github.sha }}"
          files: FluCoMa*.zip
          prerelease: true
          tag_name: ${{ needs.linux.outputs.version }}
          draft: false
